version: '3'

services:
  dashboard:
    restart: always
    build:
      context: ./egi
      dockerfile: Dockerfile.prod
    image: dashboard:latest
    expose:
      - 8000
    env_file:
      - .env.prod
    volumes:
      - static_volume:/dashboard/staticfiles
      - media_volume:/dashboard/media/production
    logging:
      driver: awslogs
      options:
        awslogs-group: wei-tc-demo-logs
        awslogs-region: us-west-2
  nginx:
    build: nginx
    image: nginx:latest
    ports:
      - 1337:80
    volumes:
      - static_volume:/dashboard/staticfiles
      - media_volume:/dashboard/media/production
    depends_on:
      - dashboard
    logging:
      driver: awslogs
      options:
        awslogs-group: wei-tc-demo-logs
        awslogs-region: us-west-2

volumes:
  static_volume:
  media_volume: