.ui.container.login-form {
    width: 40vw;
}

.ui.container.login-form,
.ui.segment.login-form,
.ui.warning.message.disclaimer
{
    top: 7vh;
}

.ui.message.login-error {
    top: 4vh;
}

.ui.segment.login-form {
    box-shadow: none;
}

.ui.header.login-title {
    margin: 0;
    font-family: Nunito Sans, 'Arial Black', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #424141;
    letter-spacing: 1px;
}

.ui.header.login-title span {
    font-family: Nunito Sans, 'Arial Black', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #d5d803;
}

.ui.button.login {
    background-color: #424141;
    color: white;
}

.ui.button.login:hover {
    background-color: rgba(36, 39, 45, 1);
    color: white;
}