*{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.login-title {
    margin-bottom: 5%;
    font-family: Nunito Sans, 'Arial Black', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #424141;
    letter-spacing: 1px;

}
.login-title span {
    margin-bottom: 5%;
    font-family: Nunito Sans, 'Arial Black', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #d5d803;

}

.btn-success {
    background-color: #424141;
    border-color: #424141;
}

.login {
    width: 50%;

    padding-top: 5%;
    top: 10%;
    height: 450px;
    margin: 5% auto;
    background-color: #f9f9f9;
    text-align: center;
    z-index: 999999;
    -webkit-box-shadow: 1px 9px 15px 2px rgba(0,0,0,0.36);
    -moz-box-shadow: 1px 9px 15px 2px rgba(0,0,0,0.36);
    box-shadow: 1px 9px 15px 2px rgba(0,0,0,0.36);
}

.disclaimer {
    padding: 15px;
    margin: 10px;
    font-size: 10px;
}

.navbar {
    min-height: 90px;
    min-width: 100vw;
    background-color: #323e48;
}

.logo {
    width: 100px;
    height:50px;
}


.errorlist {
    font-size: 12px;
}

label{
    display: inline;
}

input {
    display: inline;

}