#global-settings-instructions {
    margin-top: 1rem;
}

.ui.tabular.menu {
    margin: 0;
}

.ui.tab.loading-pane {
    min-height: calc(100vh - 88.84px - 41px); /* navbar, tab */
}

.ui.loader {
    top: 25%;
}

.ui.segment.tab-pane {
    border: none;
}

.ui.bottom.segment.active.tab {
    margin: 0;
    border-bottom: 0;
}

.ui.modal {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    overflow: auto;
    outline: 0;
}

.ui.button.form-help {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.ui.segment.global-settings {
    box-shadow: 0 0;
}

.ui.grid > .row {
    padding: 1rem;
}

.js-plotly-plot > .plotly.plot-container {
    padding: 0;
}

.ui.grid > .row > .column.plot-container {
    margin: 0;
}

/*>42px -> "mean+median+sd" radio is cut off. >37px -> horizontal scrollbar appears*/
.ui.grid > .row >.column.plot-form {
    padding: 0 37px;
    margin: 0;
}

.plot-form.segment {
    overflow-y: auto;
}


