{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
{% endblock css %}

{% block main %}
<div class="ui menu labeled icon borderless navbar">
        <a class="item" href="https://www.geochemistry.com.au">
            <img style="width: 200px" src="{% static 'logo.png' %}" alt="EGI">
        </a>
        <a class="item link-button" href="{% url 'home' %}">
            <i aria-hidden="true" class="home icon"></i>
            Home
        </a>

        {% if user.is_staff %}
            <a class="item link-button" href="{% url 'create' %}">
                <i aria-hidden="true" class="chart bar icon"></i>
                Create
            </a>
        {% endif %}
        {% if user.is_superuser %}
            <a class="item link-button" href="{% url 'admin:index' %}">
                <i aria-hidden="true" class="configure icon"></i>
                Admin
            </a>
        {% endif %}

    <div class="right menu">
        {% if user.is_authenticated %}
            <a class="item link-button" href="{% url 'logout' %}">
                <i aria-hidden="true" class="sign-out icon"></i>
                Logout
            </a>
        {% else %}
            <a class="item link-button" href="{% url 'login' %}">
                <i aria-hidden="true" class="sign-in icon"></i>
                Login
            </a>
        {% endif %}
    </div>
</div>
{{ block.super }}
{% endblock main %}